/* Variables */

// Base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$default: #538BAF;
$highlight: #6BA1C4;

$foreground: #000;
$background: #fff;

// Element-ui
$elInputWidth: 200px;
$elInputNumberWidth: 120px;
$elTextareaWidth: 300px;
$elSelectWidth: 200px;

// Application Header
$app-header-bg: #014051;
$app-icon-bg: #6758F3;
$app-icon-color: #FFFFFF;
$app-icon-size: 30px;
$app-name-color: #FFFFFF;
$app-name-size: 30px;

// Login page
$lightGray: #eee;


// // Sidebar
// $sideBarWidth: 210px;
// $subMenuBg:#1f2d3d;
// $subMenuHover:#001528;
// $subMenuActiveText:#f4f4f5;
// $menuBg:#304156;
// $menuText:#bfcbd9;
// $menuActiveText:#409EFF; // Also see settings.sidebarTextTheme

// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  // menuBg: $menuBg;
  // menuText: $menuText;
  // menuActiveText: $menuActiveText;
  elInputWidth: $elInputWidth;
  elInputNumberWidth: $elInputWidth;
  elTextareaWidth: $elTextareaWidth;
  elSelectWidth: $elSelectWidth;
  appHeaderBg: $app-header-bg;
  appIconBg: $app-icon-bg;
  appIconColor: $app-icon-color;
  appIconSize: $app-icon-size;
  appNameColor: $app-name-color;
  appNameSize: $app-name-size;

}
